.login-button {
    margin-top: 1rem;
    margin-right: 1rem;
}

.nav-collapse{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}